__pycache__/
*.pyc
.venv/
.env
conferente.db
servidor.log
relatorios/
arquivo/
entrada/novos/*
entrada/processados/*
entrada/quarentena/*
!entrada/novos/.gitkeep
!entrada/processados/.gitkeep
!entrada/quarentena/.gitkeep
.pytest_cache/
.coverage
htmlcov/

.vercel
